<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDatklB8NhQBBRkABXSh0QNklvvVNT5ZaM&libraries=visualization&callback=initMap" async defer></script>

<script>

let map;
let marker;
let geocoder;
let markerCluster;
let heatmap;

/* Complaints data from Django */

let complaints = [
{% for c in complaints %}
{
title: "{{ c.title|escapejs }}",
category: "{{ c.category|escapejs }}",
status: "{{ c.status|escapejs }}",
lat: {{ c.latitude|default:0 }},
lng: {{ c.longitude|default:0 }}
}{% if not forloop.last %},{% endif %}
{% endfor %}
];

$(document).ready(function(){

$('#stateDropdown').select2({
placeholder:"Search state"
});

/* Auto locate when fields change */

$('#stateDropdown, input[name="city"], textarea[name="address"]').on('input change', function(){
locateAddress();
});

});


/* Category toggle */

function toggleOtherCategory(){

let category=document.getElementById("category").value;
let div=document.getElementById("otherCategoryDiv");

if(category==="Other"){
div.style.display="block";
}else{
div.style.display="none";
}

}


/* Initialize Map */

function initMap(){

map = new google.maps.Map(document.getElementById("map"),{
center:{lat:20.5937,lng:78.9629},
zoom:5
});

geocoder = new google.maps.Geocoder();

/* Click map to select location */

map.addListener("click",function(event){

let lat=event.latLng.lat();
let lng=event.latLng.lng();

placeMarker(lat,lng);

});

/* Show complaints */

showComplaintMarkers();

/* Heatmap */

showHeatmap();

}


/* Place marker */

function placeMarker(lat,lng){

if(marker){
marker.setMap(null);
}

marker=new google.maps.Marker({
position:{lat:lat,lng:lng},
map:map
});

document.getElementById("latitude").value=lat;
document.getElementById("longitude").value=lng;

}


/* Show complaint markers */

function showComplaintMarkers(){

let markers=[];

complaints.forEach(function(c){

if(c.lat==0 || c.lng==0){
return;
}

let iconColor;

if(c.status==="Pending"){
iconColor="http://maps.google.com/mapfiles/ms/icons/red-dot.png";
}
else if(c.status==="In Progress"){
iconColor="http://maps.google.com/mapfiles/ms/icons/yellow-dot.png";
}
else{
iconColor="http://maps.google.com/mapfiles/ms/icons/green-dot.png";
}

let marker=new google.maps.Marker({
position:{lat:c.lat,lng:c.lng},
icon:iconColor
});

let infoWindow=new google.maps.InfoWindow({
content:
"<b>"+c.title+"</b><br>"+
"Category: "+c.category+"<br>"+
"Status: "+c.status
});

marker.addListener("click",function(){
infoWindow.open(map,marker);
});

markers.push(marker);

});

/* Marker cluster */

markerCluster=new markerClusterer.MarkerClusterer({
map:map,
markers:markers
});

}


/* Heatmap */

function showHeatmap(){

let heatData=[];

complaints.forEach(function(c){

if(c.lat && c.lng){
heatData.push(new google.maps.LatLng(c.lat,c.lng));
}

});

heatmap=new google.maps.visualization.HeatmapLayer({
data:heatData,
map:map,
radius:30
});

}


/* Locate typed address */

function locateAddress(){

if(!geocoder){
alert("Map is still loading");
return;
}

let state = document.getElementById("stateDropdown").value;
let city = document.querySelector('input[name="city"]').value;
let address = document.querySelector('textarea[name="address"]').value;

if(!state || !city || !address){
alert("Please enter State, City and Address first");
return;
}

let fullAddress = address + ", " + city + ", " + state + ", India";

geocoder.geocode({ address: fullAddress }, function(results, status){

if(status === "OK"){

let location = results[0].geometry.location;

map.setCenter(location);
map.setZoom(16);

placeMarker(location.lat(), location.lng());

}
else{

alert("Location not found: " + status);

}

});

}

</script>